[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Samsung Galaxy S IV Maintainers
	label-Verified = -1..+1 group Samsung Galaxy S IV Maintainers
	submit = group Samsung Galaxy S IV Maintainers
	push = group Samsung Galaxy S IV Maintainers
	pushMerge = group Samsung Galaxy S IV Maintainers
[access "refs/for/refs/heads/android-5.0"]
	pushMerge = group Samsung Galaxy S IV Maintainers
